---
layout: default
---

<div>
  <div>
<h2 class="my-12 block text-4xl text-center leading-8 font-extrabold tracking-tight text-slate-700 sm:text-6xl"><%= resource.data.title %></h2>
</div>

<div class="mt-6 max-w-lg mx-auto">
<%= yield %>
</div>


</div>