---
layout: default
---



<div class="relative py-4  overflow-hidden">
  <div class="relative px-4  lg:px-6">
    <div class="text-lg max-w-prose mx-auto">
      <h2>
        <span class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"><%= resource.data.title %></span>
      </h2>
    </div>
    <div class="mt-6 prose prose-slate prose-xl  mx-auto">
      <%= yield %>
    </div>
  </div>
</div>
